/***********************************
/* General Settings */

*,
*:before,
*::after {
  box-sizing: border-box;
}

* {
  max-width: 960px;
}

body {
  margin: 20px;
}

/*********************************
/* specific settings */

.nav-link {
  padding: 4px 8px;
  color: black;
}

.nav-link:hover {
  color: blue;
  background-color: lightgray;
}

.nav-link:active {
  color: chocolate;
  background-color: burlywood;
}

* {
  font-family: "Roboto Slab", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

header {
  padding: 48px 16px;
  text-align: center;
  background-color: darkgrey;
}

.main > * + * {
  margin-top: 48px;
}

main > * {
  border-top: 3px solid darkgrey;
}

main > *:first-child {
  border-top: none;
}
